<section class="registrations">

  <h1>Hönnuðahittingur í mars</h1>

  <h2>Spennandi hittingur hönnuða í Hönnunarmars.</h2>

  <h1>Skráningar á viðburði</h2>

  <h2>Engin hefur skráð sig á þennan viðburð</h2>


  <h1>Skráðu þig</h1>

  <p>Til baka</p>
</section>