* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --fonts: Helvetica, Arial, sans-serif;
  --color-paperwhite: #ffe;
  --color-error: #a77;
  --color-white: #eee;
  --color-accent: #aa6;
  --color-accent-dark: #663;
  --color-accent-light: #cc8;
}

html {
  background-color: var(--color-paperwhite);

  box-sizing: border-box;

  font-family: 'Georgia', serif;
  font-size: 20px;
}

input,
textarea,
button {
  font-family: 'Georgia', sans-serif;
  font-size: 20px;
}

h1,
h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
  padding: 0.5rem;
}

main {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

ul {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

li {
  font-size: 2rem;
  font-weight: 600;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form--separated {
  border-bottom: 2px dotted var(--color-accent);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.field label {
  font-size: 1rem;
  min-width: 140px;
}

.field input,
.field textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid var(--color-accent);
  width: 100%;
  border-radius: 10px;
}

.field--textarea {
  align-items: flex-start;
}

.field textarea {
  flex: 1;
  min-height: 3rem;
}

.field--invalid input,
.field--invalid textarea {
  background-color: #fbb;
  border-color: var(--color-error);
}

.button {
  padding: 0.5rem;
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  width: 60%;
  background-color: var(--color-accent);
  transition: background-color ease-in 300ms;
}

.button--margin {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.button--large {
  font-size: 2rem;
}

.errors {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.errors__title {
  font-size: 2rem;
  margin-top: 1rem;
}

.errors li {
  font-size: 1.3rem;
}

.registrations {
  margin-bottom: 1rem;
}

.registrations h1 {
  font-size: 3rem;
}

.registrations h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.registrations ul {
  margin-bottom: 3rem;
}

.registrations li {
  margin-bottom: 1rem;
}

.registrations-skak {
  font-size: 1rem;
  font-style: italic;
}

.registrations__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.registrations__total {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.registrations__empty {
  text-align: center;
}


/* Paging */

.paging {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}

/* User */

.user {
  display: flex;
  flex-direction: column;
}

.user__loggedin {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1000px) {
  footer {
    display: none;
  }

  main {
    margin: 10px;
  }
}